[x-cloak] {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.95em;
}

pre > code {
  line-height: 1.25;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

input {
  outline: 2px solid transparent;
}

input:focus {
  outline-color: #999999;
}

.break-words {
  overflow-wrap: break-word;
}

.bg-off-white {
  background-color: #fafafa;
}

.dark-mode .dm-dn {
  display: none;
}

.dark-mode .dm-dib {
  display: inline-block;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 60em) {
  .ml-300px-l {
    margin-left: 300px;
  }
}

.prose p {
  line-height: 1.5;
}

.prose ul,
.prose ol {
  padding-left: 1.5rem;
}

.prose li {
  line-height: 1.5;
}

.prose li > p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.prose a {
  color: #357EDD;
  text-decoration: none;
}

.prose a:hover, .prose a:focus {
  text-decoration: underline;
}

.prose :not(pre) > code {
  background-color: rgba(0, 0, 0, 0.05);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.25rem;
}

.dark-mode .prose :not(pre) > code {
  background-color: rgba(255, 255, 255, 0.05);
}

.prose pre > code {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-mode .prose pre > code {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-fade-down {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #f4f4f4 50%);
}

.dark-mode .bg-fade-down {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #111111 50%);
}

.placeholder::placeholder {
  color: #000000;
  opacity: 0.5;
}

.dark-mode .placeholder::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
